:root {
    --bgc-disabled : #4cb5f9;
    --color-text-btn: #fff;
    --bgc-active: #0095f6;
    --bgc-active-hover: #1877f2;
}


.btn-wrapper {
    width: 268px;
    height: 32px;
    border-radius: 8px;
    margin: 20px 0;
    border: transparent;
    color: var(--color-text-btn);
    background-color: var(--bgc-active);
    font-weight: 600;
    cursor: pointer;

    &.disabled {
        background-color: var(--bgc-disabled);
        cursor:not-allowed;
    }

    &.active {
        cursor: pointer;
        background-color: var(--bgc-active);
    }
    
    &.active:hover {
    background-color: var(--bgc-active-hover);
    }

    span {
        width: 100%;
    }
}