$border-color: #dbdbdb;
$black-text : #000;
$pri-text-color : #262626;
$sec-text-color : #7b7b7b;
$thir-text-color: #737373;

.post-wrapper {
    width: 470px;
    margin-bottom: 12px;
    padding-bottom: 20px;
    border-bottom: 1px solid $border-color;
    
    .header-post {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .text-content {
            font-size: 1.4rem;
            color: $sec-text-color;

            .account-name {
                font-size: 1.4rem;
                color: $pri-text-color;
            }

            .time {
                color: $sec-text-color;
            }

            .sound-and-location {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .location, .sound {
                    font-size: 1.2rem;
                }

                .location + .sound {
                    margin-left: 10px;
                }
            }

        }

        .icon {
            cursor: pointer;
        }
    }

    .images-post {
        width: 100%;
        position: relative;

        .image-wrapper {
            width: 470px;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            overflow-x: auto;
            border: 1px solid $border-color;
            border-radius: 5px;
    
            /* CSS cho trình duyệt Chrome */
            &::-webkit-scrollbar {
                width: 0px; /* Điều chỉnh chiều rộng của thanh cuộn */
            }
            
                &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0); /* Màu nền của thanh cuộn */
                border-radius: 4px; /* Điều chỉnh góc bo của thanh cuộn */
            }
            
                &::-webkit-scrollbar-track {
                background-color: transparent; /* Đặt màu nền của phần track trong suốt */
            }
            
            img {
                width: 100%;
                border-radius: 5px;
                height: 100%;
            }

        }

        .next-btn {
            position: absolute;
            z-index: 10;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            user-select: none;
    
            .next-img {
                background-repeat: no-repeat;
                background-position: -294px -273px;
                height: 100%;
                width: 100%;
                background-image: url("../../assets/authPage/all-icon2.png");
            }
        }
    
        .prev-btn {
            position: absolute;
            z-index: 10;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
            user-select: none;
    
            .prev-img {
                background-repeat: no-repeat;
                background-position: -294px -226px;
                height: 100%;
                width: 100%;
                background-image: url("../../assets/authPage/all-icon2.png");
            }
        }

        .slider-dots {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: 30px;
            z-index: 20;

            .slider-dot {
                background-color: rgba(0, 0, 0, 0.2);
                border: none;
                border-radius: 50%;
                width: 8px;
                height: 8px;

                & + .slider-dot {
                    margin-left: 4px;
                }
            }

            .slider-dot-active {
                background-color: #fff;
            }
        }
    }

    .interact-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        .left-icons {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            cursor: pointer;

            .icon + .icon {
                margin-left: 10px;
            }
        }

    }

    .like-person {
        .person,.quantity {
            color: $black-text;
            font-weight: 500;
        }
    }

    .post-caption {
        .caption-default {
            min-height: 25px;
            max-height: 50px;
            max-width: 60ch;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            color: $black-text;
            font-weight: 300;
        }

        .username {
            color: $black-text;
            font-weight: 500;
        }
        .caption-expanded {
            width: 100%;
            color: $black-text;
            font-weight: 300;
        }

        .more-btn {
            cursor: pointer;
            color: $thir-text-color;
        }

    }

    .comment-view {
        cursor: pointer;
    }

    .your-comment-wrapper {
        display: flex;
        justify-content: space-between;

        .your-comment {
            display: flex;

            span {
                color: $black-text;
                font-weight: 500;

                .icon {
                    width: 13px;
                    height: 13px;
                }
            }

            p {
                color: $black-text;
                font-weight: 300;
            }

            span+p {
                margin-left: 4px;
            }
        }
    }

    .comment-action {
        width: 100%;
        position: relative;

        .comment-input-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .comment-input {
                flex: 1;
                border: none;
                outline: none;
                font-size: 14px;
                padding: 4px 2px 4px 0;
            }

            .emoji-icon {
                cursor: pointer;
            }
        }

        .loading-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #73737337;
            z-index: 10;
            
            .loading {
                width: 18px;
                height: 18px;
                position: absolute;
                top: 48%;
                left: 50%;
                transform: translate(-50%,-50%);
                background-color: transparent;
            }
        }


        .upload-btn {
            color: blue;
            position: absolute;
            border: none;
            background-color: transparent;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }
}