$hover-bgc: #f2f2f2;
$border-color: #dbdbdb;

.nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    height: 100vh;
    min-height: 480px;
    width: 245px;
    border-right: 1px solid $border-color;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    transition: all linear 0.5s;

    &.small {
        width: 70px;

        .logo {
            display: none;
        }

        .logo-icon {
            display: block;
            cursor: pointer;
          }
    
          .nav-item {
            width: 50px;
            height: 50px;
            overflow: hidden;

            &.active .nav-icon {
                
                border-radius: 8px;

                .profile-nav-item-wrapper {

                    .border-active {
                        display: block;
                    }
                }
                
            }

            &.search.active .nav-icon,
            &.notifications.active .nav-icon {
                border: 1px solid #dbdbdb;
            }

            &:last-child .nav-icon {
                padding: 0 !important;
            }
    
            span {
                width: 0;
                height: 0;
            }
    
          }
    
          .btn-menu  {
            .title {
                display: none !important;
            }
          }
    }

    .logo {
        padding: 14px 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .logo-icon {
        padding: 10px 12px;
        margin-top: 6px;
        margin-bottom: 16.6px;
        cursor: pointer;
        display: none;

        &:hover {
            background-color: $hover-bgc;
            border-radius: 8px;
        }

        &:hover .icon {
            scale: 1.02;
        }

        .logo-icon-wrapper {
            width: 48px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .nav-list {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;

        .nav-item {
            display: flex;
            justify-content: left;
            align-items: center;
            text-decoration: none;
            width: 100%;
            height: 48px;
            margin: 4px 0;
            user-select: none;
            cursor: pointer;
            overflow: hidden;

            &:hover {
                background-color: $hover-bgc;
                border-radius: 8px;
            }

            &:hover .nav-icon {
                scale: 1.05;
            }

            &:hover img {
                scale: 1.02;
            }

            span {
                text-decoration: none;
                color: #000;
                font-size: 1.6rem;
                font-weight: 600;
                height: 24px;
                overflow: hidden;
            }

            .nav-icon {
                width: 56px;
                height: 48px;
                padding: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.1s linear;

                .icon {
                    display: block;
                }

                .icon-active {
                    display: none;
                }

                .profile-nav-item-wrapper {
                    position: relative;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    .border-active {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 28px;
                        height: 28px;
                        background-color: transparent;
                        border: 2px solid #000;
                        border-radius: 50%;
                        padding: 2px;
                        display: none;
                    }

                    img {
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                    }
                }

            }

            &.active .icon{
                display: none;
            }

            &.active .icon-active{
                display: block;
                
            }

            &.active span {
                font-weight: 700;
            }
        }
    }

    .btn-menu {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin-bottom: 10px;
        width: 100%;

        .wrapper {
            width: 100%;
            height: 48px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;

            &:hover {
                background-color: $hover-bgc;
                border-radius: 8px;
            }
    
            &:hover .btn-menu-icon {
                scale: 1.05;
            }

            .btn-menu-icon {
                width: 56px;
                height: 48px;
                padding: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.1s linear;

                .icon {
                    display: block;
                }

                .icon-active {
                    display: none;
                }
            }

            &.active .btn-menu-icon .icon {
                display: none;
            }

            &.active .btn-menu-icon .icon-active {
                display: block;
            }

            &.active .title span {
                font-weight: 700;
            }
    
            .title {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 48px;
    
                span {
                    font-size: 1.6rem;
                    color: #000;
                    font-weight: 600;
                    user-select: none;
                }
            }
        }

    }
    
    .btn-menu-content {
        position: fixed;
        bottom: 74px;
        left: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 260px;
        border-radius: 12px;
        z-index: 3000;
        background-color: rgba($color: #000000, $alpha: .05);
        box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: .05);
        overflow: hidden;

        .menu-item-list {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;

            .btn-menu-item {
                display: flex;
                justify-content: left;
                align-items: center;
                text-decoration: none;
                width: 100%;
                height: 48px;
                margin: 4px 0;
                user-select: none;
                cursor: pointer;
                overflow: hidden;
    
                &:hover {
                    background-color: $hover-bgc;
                    border-radius: 8px;
                }
    
                &:hover .nav-icon {
                    scale: 1.05;
                }
    
                &:hover img {
                    scale: 1.02;
                }
    
                span {
                    text-decoration: none;
                    color: #000;
                    font-size: 1.6rem;
                    font-weight: 600;
                    height: 24px;
                    overflow: hidden;
                }
    
                .btn-menu-item-icon {
                    width: 56px;
                    height: 48px;
                    padding: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.1s linear;
    
                    img {
                        width: 90%;
                        padding: 5px;
                        border-radius: 50%;
                    }
    
                    .icon {
                        display: block;
                    }
    
                    .icon-active {
                        display: none;
                    }
                    
                }
    
                &.active .icon{
                    display: none;
                }
    
                &.active .icon-active{
                    display: block;
                    
                }
    
                &.active span {
                    font-weight: 700;
                }
            }
        }

        .btn-menu-top {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 10px;
            margin-bottom: 6px;
        }

        .btn-menu-bottom {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 10px;

            .border-sep {
                width: 100%;
                height: 1px;
                background-color: #dbdbdb;
            }
        }
    }
}

.modal-wrapper {
    width: 400px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -330px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 0px 10px 5px rgba($color: #000000, $alpha: .05);
    opacity: 0;
    z-index: -999;
    filter: blur(0.3);
    transition: all linear 0.5s;


    &.show {
        opacity: 1;
        z-index: 99;
        left: 70px;
        filter: blur(0);
    }
    
}

@media (max-width: 1200px) {
    .nav-wrapper {
      width: 70px ;

      .logo {
        display: none;
      }

      .logo-icon {
        display: block;
        cursor: pointer;
      }

      .nav-item {
        width: 50px;
        height: 50px;
        overflow: hidden;

        &.active .nav-icon {
            border-radius: 8px;

            .border-active {
                display: block;
            }
        }

        &:last-child .nav-icon {
            padding: 0 !important;
        }

        span {
            width: 0;
            height: 0;
        }

      }

      .btn-menu  {
        .title {
            display: none !important;
        }
      }
    }
  }