:root {
    --text-color: #737373;
}

.footer-wrapper {
    max-width: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;

    .top {
        width: 100%;

        .link {
            text-decoration: none;
            padding: 8px;
            font-size: 12px;
            color: var(--text-color);
        }
    }

    .bottom {
        width: 100%;
        padding: 10px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;

        span + span {
            margin-left: 10px;
        }
    }
}