$border-color: #dbdbdb;
$black-color: #000;
$white-color: #fff;
$sec-text-color: #737373;
$footer-color: #c7c7c7;
$blue-text-color: #0995f6;

    .content-wrapper {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0 100px;

        .center-content {
            width: 66.6666%;
            min-height: 100vh;
            display: flex;
            // justify-content: center;
            align-items: center;
            flex-direction: column;

            .post-list {
                width: 95%;
                padding: 0 46px;
                margin-top: 20px;
                display: flex;
             // justify-content: center;
                align-items: center;
                flex-direction: column;

                // .extra-info {
                //     display: none;
                // }
            }
        }

        .right-content {
            width: 33.3333%;
            margin-top: 30px;
            padding-top: 16px;

            .your-account {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 56px;
                margin-bottom: 16px;

                .username {
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: $black-color;
                }

                .extra-info-wrapper {
                    color: $sec-text-color;
                    cursor: pointer;
                }

                .switch-account {
                    color: $blue-text-color;
                    font-weight: 500;
                    font-size: 12px;
                    margin-right: 16px;
                    cursor: pointer;
                }
            }

            .suggest-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 4px 16px;

                .suggest-title {
                    font-weight: 500;
                }

                .see-all {
                    color: $black-color;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }

            .suggest-account {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 4px 16px;

                .follow-btn {
                    color: $blue-text-color;
                    font-size: 12px;
                    font-weight: 500;
                    cursor: pointer;

                    &.followed {
                        color: #737373;
                    }

                    &:hover {
                        color: #1f4f7d;
                    }
                }
            }

            .right-footer {
                padding: 4px 16px;
                color: $footer-color;
                
                .top .link{
                    color: $footer-color;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

@media (max-width: 1180px) {
    .right-content {
        display: none;
    }
    
}